<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fan.kill</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2C6D6A90-CEB6-4AFB-BC9B-EC9EB38E8F98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94026634-B376-4F7C-A743-D0C8F1D8E2E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32336206-23F6-433E-8045-A4615BE5C844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94026634-B376-4F7C-A743-D0C8F1D8E2E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fan Frank</string>
	<key>description</key>
	<string>输入你想要杀死程序的名字</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kill</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>kill</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Killing for "{query}"</string>
				<key>script</key>
				<string>sh ./filterapp.sh "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Kill Application for "{query}"</string>
				<key>title</key>
				<string>Kill Application</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>32336206-23F6-433E-8045-A4615BE5C844</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>#!/bin/bash

query={query}

info=$(top -l 1 | grep -i " $query")   #-i is case case-insensitive 
echo $info
index=0
processid=0
for arg in $info
do
	if ((index == 0))
	then 
		processid=$arg	
	fi
	((index++))
done
echo $processid	
kill $processid</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>94026634-B376-4F7C-A743-D0C8F1D8E2E5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>killf</string>
				<key>subtext</key>
				<string>Kill Application for "{query}" #Just keywords is ok</string>
				<key>text</key>
				<string>Kill Application</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C6D6A90-CEB6-4AFB-BC9B-EC9EB38E8F98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>2C6D6A90-CEB6-4AFB-BC9B-EC9EB38E8F98</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>32336206-23F6-433E-8045-A4615BE5C844</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>94026634-B376-4F7C-A743-D0C8F1D8E2E5</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
